#livecom1 {
	font-size: 50px;
	font-family: cursive;
	color: rgb(80, 218, 39);
	padding-left: 10px;
	padding-bottom: 0px;
}
body {
	background-color: #f1f1f1
	font: normal 16px sans-serif;
}
	#livecam {
	padding-bottom: 0px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 20px 7px 20px rgba(0, 0, 0, 0.25);
}
#hello25 {
	font: normal 20px cursive;
}
    #reports {
	font-size: 20px;
	font-family: cursive;
}
#reports {
	font: normal 20px cursive;
}
#report1 {
	font: normal 20px cursive ;
}
#ps {
	font: normal 20px cursive;
}
#info p {
	color: #86898f;
	margin: 0;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	letter-spacing: none;
	word-spacing: none;
}
#polar {
	max-width: 75%;
	margin: auto;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: 	#6495ed;
}
.info {
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}
.bg-pink {
	background: #ffcccc;
	box-shadow: 20px 7px 20px 8px rgba(0, 0, 0, 0.25);
}
.bg-yellow {
	background: #fff9dc;
	box-shadow: 20px 7px 20px 8px rgba(0, 0, 0, 0.25);
}
.function {
	margin-top: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}
#hello26 {
	font: normal 20px cursive;
}
#photoshop {
	font: normal 20px cursive ;
}
#pasxalka {
	font: normal 30px cursive;
	margin-left: 890px;
}
.rgb-red {
	background: #dc143c;
	font-family: cursive;
	box-shadow: 20px 7px 20px 8px rgba(0, 0, 0, 0.25);
	padding: 15px 20px;
	border-radius: 20px;
	margin-left: 500px;
	margin-right: 500px;
}
.intro {
	width: 75%;
	margin: 0 auto;
	max-width: 1363px;
}
